{
    "IsEncrypted": false,
    "Values": {
        "AzureWebJobsStorage": "UseDevelopmentStorage=true",
        "FUNCTIONS_WORKER_RUNTIME": "dotnet",
        "AZURE_OPENAI_API_KEY": "<YOUR_AZURE_OPENAI_API_KEY>",
        "AZURE_OPENAI_API_URL": "<YOUR_AZURE_OPENAI_API_URL>",
        "AZURE_OPENAI_API_MODEL_NAME": "<AZURE_OPENAI_API_MODEL_NAME>",
        "LINE_CHANNEL_ACCESS_TOKEN": "<YOUR_LINE_CHANNEL_ACCESS_TOKEN>"
    }
}
